<div class="container">
  <div class="row">
    <div class="col border border-dark">
      Free CSS Layouts
    </div>
  </div>
  <div class="row">
    <div class="col-2 border border-dark">
      <a routerLink="/home" href="">Home</a><br>
      <a href="" routerLink="/about">About</a><br>
      <a href="" routerLink="/contact">Contact</a>
    </div>
    <div class="col-8 border border-dark">
      <router-outlet/>
    </div>  
    <div class="col border border-dark">
      <h5>
        More Stuff Here,
      </h5>
      <br>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. At nulla molestias excepturi officiis amet voluptatem
      aliquam delectus totam quibusdam. Repellendus quos suscipit a corporis nihil quis necessitatibus nemo, eius
      minima.
    </div>
  </div>
  <div class="row">
    <div class="col border border-dark">Footer</div>
  </div>
</div>